/* label {
    font-weight: 600;
    color: #111111;
}
body {
  background: #f1eaea;
  font-family: serif;
}
.box8{
  box-shadow: 0px 0px 5px 1px #999;
}
.mx-t3{
  margin-top: -3rem;
}
input{
  color: transparent;
}
.transparent-input {
  background-color: transparent;
}
.icon-rel{
  position: relative;
}
.icon-abs{
  position: absolute;
  margin-right: 40px;
}*/

/* .loader-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; 
  z-index: 1050; 
}  */
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: .3rem;
  border: gray;
}
.error-font{
  font-size: 12px;
}

.custom-placeholder::placeholder {
  font-size: 12px; /* Adjust the size as needed */
  color: #2a2828; /* Optional: Adjust the color if needed */
}

/* form.css */
.input-error {
  border-color: red !important;
}

